body {
  background-color: var(--color-beige-100);
}

main {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-wrapper {
  max-width: 18rem;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  border: 2px solid var(--color-navy-900);
  padding: 0.5rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
}

.course-wrapper:hover ::before {
  content: "";
  position: absolute;
  z-index: -8;
  inset: 0;
  transform: translate(-0.75rem, 0.75rem);
  -webkit-transform: translate(-0.75rem, 0.75rem);
  -moz-transform: translate(-0.75rem, 0.75rem);
  -ms-transform: translate(-0.75rem, 0.75rem);
  -o-transform: translate(-0.75rem, 0.75rem);
  background-color: var(--color-navy-800);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
