.img {
  position: relative;
}

.delivery {
  position: absolute;
  bottom: -5rem;
  left: -1rem;
}

@media screen and (min-width: 768px) {
  .presentation {
    grid-template-areas: "intro img" "order img";
  }
  .intro {
    grid-area: intro;
    padding: 0 4rem;
    align-self: end;
  }

  .img {
    grid-area: img;
  }

  .order {
    grid-area: order;
    padding: 0 4rem;
    align-self: start;
  }

  .delivery {
    bottom: initial;
    top: -3rem;
    left: -6rem;
  }
}

@media screen and (min-width: 1024px) {
  .delivery {
    top: -2rem;
    left: -4rem;
  }
}
