@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "poppins";
    src: local("poppinslight"),
      url("../assets/fonts/Poppins/poppins-light-webfont.woff2") format("woff2"),
      url("../assets/fonts/Poppins/poppins-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "poppins";
    src: local("poppinsregular"),
      url("../assets/fonts/Poppins/poppins-regular-webfont.woff2")
        format("woff2"),
      url("../assets/fonts/Poppins/poppins-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "poppins";
    src: local("poppinsmedium"),
      url("../assets/fonts/Poppins/poppins-medium-webfont.woff2")
        format("woff2"),
      url("../assets//fonts/Poppins/poppins-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "poppins";
    src: local("poppinssemibold"),
      url("../assets/fonts/Poppins/poppins-semibold-webfont.woff2")
        format("woff2"),
      url("../assets/fonts/Poppins/poppins-semibold-webfont.woff")
        format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "poppins";
    src: local("poppinsbold"),
      url("../assets/fonts/Poppins/poppins-bold-webfont.woff2") format("woff2"),
      url("../assets/fonts/Poppins/poppins-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto p-2 sm:p-4;
  }

  .btn {
    @apply w-16 h-8 px-1 py-2 text-xs rounded-xl font-medium flex items-center justify-center sm:w-20 sm:h-10 sm:px-2 sm:py-4 sm:text-sm sm:rounded-2xl;
  }
}
