h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

.media-card {
  width: 12rem;
}

.media-title {
  font-size: medium;
}

.media-info {
  gap: 0.5rem;
}

.media-info .media-rating {
  font-size: small;
}

.media-actions {
  height: 2rem;
}
