body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: var(--primary)
      linear-gradient(to top left, #fff, var(--primary));

    display: grid;
    place-content: center;
  }

  section {
    padding: 1rem;

    #playground-title {
      margin-block-end: 1rem;
    }

    .container {
      block-size: 40vh;
      block-size: 40dvh;

      display: grid;
      grid-template-columns: min-content max-content;
      grid-template-rows: 4rem 4rem 4rem;
      align-content: space-between;

      .item {
        padding: 1rem;

        display: grid;
        place-content: center;

        font-size: large;
        font-weight: bold;
      }

      .un {
        background-color: #ffc300;
      }

      .deux {
        background-color: #ff5733;
      }

      .trois {
        background-color: #daf7a6;
      }

      .quatre {
        background-color: #2874a6;
      }

      .cinq {
        background-color: #aed6f1;
      }

      .six {
        background-color: #1b4f72;
      }
    }
  }
}
