body {
  main {
    #hero-title {
      font-size: large;
    }
  }

  section {
    #playground-title {
      font-size: medium;
    }

    .artist-container {
      inline-size: 60%;

      .artist-name {
        font-size: x-small;
        
        padding: 0.25rem;
      }
    }
  }
}
