body {
  main {
    #hero-title {
      font-size: large;
    }
  }

  #playground {
    #playground-title {
      font-size: medium;
    }

    .container {
      inline-size: 90%;

      grid-template-rows: repeat(3, 2rem);

      .header,
      .main,
      .aside,
      .footer {
        font-size: small;
      }
    }
  }
}
