h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.artist-card {
  width: 12rem;
}

.artist-img {
  height: 12rem;
}

.artist-title {
  font-size: x-small;
}
