body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  main {
    max-inline-size: 45%;
    min-block-size: 70dvh;

    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    align-content: center;
    justify-content: center;
    gap: 0.5rem;

    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 1rem;

      padding: 0.5rem;

      background-color: #eec4dc;
      border-radius: 0.25rem;

      img {
        inline-size: 100%;
        block-size: 100%;

        object-fit: cover;
      }

      button {
        padding: 0.5rem 0.75rem;

        font-size: small;
        font-weight: bold;

        background-color: #7f3667;

        text-transform: uppercase;
        letter-spacing: 0.25rem;

        border-radius: 0.25rem;

        opacity: 0.5;

        transition: all 1s;

        &:hover {
          opacity: 1;
          letter-spacing: initial;
        }
      }
    }
  }
}
