:root {
  --black: #000000;
  --white: #f8f9fa;
  --blue: #1a73e8;
  --gray-9: #3c4043;
  --gray-8: #70757a;
  --gray-2: #dadce0;
}

*,
*::before,
*::after {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type="text"] {
  outline: none;
  border: none;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
}
