body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    padding: 1rem 2rem;

    font-size: medium;

    nav {
      > ul {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;

        > li {
          > a {
            color: var(--black, #000000);
          }

          > button {
            background-color: var(--blue, #1a73e8);

            padding: 0.5rem 0.75rem;

            border-radius: 0.25rem;

            font-size: inherit;

            > a {
              color: var(--white, #ffffff);
            }
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      inline-size: min(15rem, 40%);
      block-size: auto;
    }

    form {
      display: grid;
      gap: 1rem;

      inline-size: max(15rem, 50%);

      input[type="text"] {
        display: block;

        inline-size: 100%;
        block-size: 0.75rem;

        background-color: transparent;

        margin-inline: auto;
        padding: 1.25rem 1.5rem;

        color: var(--black, #000000);

        border: 1px solid var(--gray-2, #dadce0);

        border-radius: 1.25rem;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        input[type="submit"] {
          background-color: (--gray-2, #dadce0);
          color: var(--gray-8, #70757a);

          font-size: x-small;

          padding: 0.5rem 0.75rem;
          border-radius: 0.25rem;

          &:hover {
            color: var(--gray-9, #3c4043);
          }
        }
      }
    }
  }

  footer {
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-size: small;

      li {
        a {
          color: var(--gray-8, #70757a);
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  body {
    header {
      font-size: small;
    }

    footer {
      flex-direction: column;

      ul {
        flex-direction: column;

        font-size: x-small;
      }
    }
  }
}
