body {
  block-size: 100vh;
  block-size: 100dvh;

  display: grid;
  justify-items: center;
  align-items: center;

  main {
    inline-size: 25%;

    .screen {
      block-size: 4rem;

      background-color: black;
      color: white;

      padding: 1rem;
    }

    .screen,
    .button {
      font-size: large;
      font-weight: bold;

      border: 1px solid black;
    }

    .buttons {
      .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        block-size: 3rem;

        .button {
          background-color: var(--gray-500);
          color: black;

          display: grid;
          place-content: center;
        }

        .animate {
          animation: resize 0.1s;
        }
        
        .operation {
          background-color: var(--primary);
          color: white;
        }

        .double {
          grid-column: 1 / span 2;
        }

        .triple {
          grid-column: 1 / span 3;
        }

        .arrow {
          font-size: xx-large;
        }
      }
    }
  }
}

@keyframes resize {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
