* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #df974c;
  --gray-500: #bbbcbe;
}

body {
  font-family: "Times New Roman", Times, serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
