main {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 0.25rem 0.5rem;
}

form {
  position: relative;
}

input[type="text"] {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--white);
  outline: none;
  border: 2px solid var(--black);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

input[type="text"]:focus {
  border: 2px solid var(--primary);
}

input[type="text"]:focus + label {
  color: var(--primary);
}

label {
  font-size: x-small;
  font-weight: bold;
  position: absolute;
  background-color: var(--white);
  color: var(--black);
  top: -25%;
  left: 5%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
