body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: #db0030 linear-gradient(#fff, #db0030);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section {
  padding: 1rem;

  .container {
    margin-block-start: 1rem;

    .media-card {
      inline-size: 15rem;

      margin-inline: auto;

      box-shadow: 0.25rem 0.125rem 0.5rem silver;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .media-poster {
        position: relative;

        img {
          inline-size: 100%;
        }

        .watchlist-icon {
          position: absolute;
          inset-block-start: 0.5rem;
          inset-inline-start: 0.5rem;

          color: red;

          cursor: pointer;
        }
      }
    }

    .media-info {
      padding: 1rem 0.5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;

      .media-rating {
        display: flex;
        justify-content: center;
        gap: 0.25rem;

        font-weight: bold;
      }

      .media-title {
        font-size: x-large;
        font-weight: bold;
      }

      .media-actions {
        inline-size: 100%;
        block-size: 3rem;

        padding: 0.25rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        cursor: pointer;

        color: #1b4f72;
        background-color: #aed6f1;

        font-weight: bold;

        border: none;
        border-radius: 0.5rem;

        .fa-star {
          color: #ffd700;
        }
      }
    }
  }
}
