main {
  #hero-title {
    font-size: large;
  }
}

section {
  #playground-title {
    font-size: medium;
  }

  .flex-container {
    .flex-item {
      inline-size: 3rem;
      block-size: 3rem;

      font-size: x-small;
    }
  }
}
