body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: var(--primary) linear-gradient(to top left, #fff, var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 5rem 4rem;
  gap: 0.5rem;
}

.container .item {
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.un {
  background-color: #ffc300;
}
.deux {
  background-color: #ff5733;
}
.trois {
  background-color: #daf7a6;
}
.quatre {
  background-color: #2874a6;
}
.cinq {
  background-color: #aed6f1;
}
.six {
  background-color: #1b4f72;
}
