body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #db0030 linear-gradient(#fff, #db0030);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.title {
  position: relative;
  max-width: fit-content;
}

.title::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  margin: auto 0;
  height: 0.1rem;
  background-color: #db0030;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
