body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  .container {
    max-inline-size: min(80rem, 100%);

    padding: 1rem 2rem;
    margin-inline: auto;
  }

  header {
    > .container {
      section {
        &:first-child {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          gap: 2rem;

          nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            ul {
              display: flex;
              align-items: center;
              gap: 1rem;
            }
          }
        }

        &:last-child {
          margin-block-start: 2rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;

          div {
            &:first-child {
              display: grid;
              gap: 1rem;

              p {
                line-height: 1.5;
              }

              .links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;

                a {
                  inline-size: 10rem;
                  text-align: center;
                }
              }
            }

            &:last-child {
              img {
                inline-size: 100%;
              }
            }
          }
        }

        .link {
          color: blue;

          padding: 0.5rem;

          border: 1px solid blue;
          border-radius: 0.5rem;

          &:hover {
            color: white;
            background-color: blue;

            border: 1px solid transparent;
          }
        }
      }
    }
  }

  main {
    > .container {
      &:first-child {
        margin-block-start: 2rem;

        text-align: center;

        > span {
          text-transform: uppercase;
        }

        h2 {
          margin-block: 1rem 5rem;
        }

        > ul {
          max-inline-size: min(60rem, 100%);

          margin-inline: auto;

          margin-block-end: 3rem;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          > li {
            display: grid;
            gap: 1rem;
          }
        }

        img {
          max-inline-size: 25rem;
          block-size: auto;

          margin-inline: auto;
        }
      }
    }

    .testimonial {
      background-color: blue;

      .container {
        color: white;

        text-align: center;

        > p {
          margin-block: 2rem;
        }

        > ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          gap: 1rem;
        }

        > ul.tweets {
          > li {
            flex-basis: 20%;

            .tweet {
              display: flex;
              flex-flow: column wrap;
              justify-content: space-between;

              min-block-size: 15rem;

              overflow-y: auto;

              color: black;
              background-color: white;

              box-shadow: 2px 2px 5px black;

              padding: 0.75rem;

              border-radius: 0.25rem;

              > p {
                text-align: left;
              }

              > div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-size: x-small;

                .icons {
                  display: flex;
                  gap: 1ch;

                  .fa-retweet {
                    color: blue;
                  }

                  .fa-heart {
                    color: red;
                  }
                }
              }
            }
          }
        }

        > ul.companies {
          margin-block-start: 2.5rem;
        }
      }
    }

    > .container {
      margin-block-start: 2rem;

      &:last-child {
        text-align: center;

        > span {
          text-transform: uppercase;
        }

        h2 {
          margin-block: 1rem 5rem;
        }

        .portfolio {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          img {
            flex-basis: 20rem;

            object-fit: cover;
          }
        }
      }
    }
  }

  footer {
    .newsletter {
      background-color: blue;
      color: var(--white, #ffffff);

      padding-block: 1rem;

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        form {
          flex-basis: 20rem;

          position: relative;

          input[type="email"] {
            inline-size: 100%;

            padding: 0.5rem 0.75rem;

            border-radius: 0.5rem;

            border: none;
          }

          button {
            cursor: pointer;

            position: absolute;

            inset-inline-end: 0.75rem;
            inset-block-start: 0.25rem;

            background-color: blue;
            padding: 0.25rem;

            display: grid;
            place-content: center;

            border: none;
            border-radius: 0.25rem;
          }
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
