body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: var(--primary) linear-gradient(to top left, #fff, var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.container {
  max-height: 60vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 8rem;
  align-content: center;
}

.container .item {
  padding: 1rem;
  text-align: center;
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.un {
  background-color: #ffc300;
}
.deux {
  background-color: #ff5733;
}
.trois {
  background-color: #daf7a6;
}
.quatre {
  background-color: #2874a6;
}
.cinq {
  background-color: #aed6f1;
}
.six {
  background-color: #1b4f72;
}
