body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  main {
    inline-size: min(25rem, 80%);

    .screen {
      padding: 1rem;

      block-size: 4rem;

      background-color: black;
      color: white;
    }

    .screen,
    .button {
      font-size: large;
      font-weight: bold;

      border: 1px solid black;

      display: flex;
      align-items: center;
    }

    .row {
      display: flex;

      block-size: 3rem;

      .button {
        background-color: var(--gray-500);
        color: black;

        justify-content: center;
        flex-basis: 25%;
      }

      .double {
        flex-grow: 2;
      }

      .arrow {
        font-size: xx-large;
      }

      .operation {
        background-color: var(--primary);
        color: white;
      }

      .triple {
        flex-grow: 3;
      }
    }
  }
}

.animate {
  animation: resize 0.1s;
}

@keyframes resize {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
