body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #db0030 linear-gradient(#fff, #db0030);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

form h4 {
  margin-bottom: 1em;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  max-width: 6rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  margin-bottom: 0.5rem;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

i.fa {
  visibility: hidden;
  color: #db0030;
  font-size: small;
}

input[type="checkbox"]:checked + label {
  color: #db0030;
  border: 1px solid #db0030;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

input[type="checkbox"]:checked + label i.fa {
  visibility: visible;
}
