body {
  display: grid;
  place-content: center;

  .square {
    display: grid;
    place-content: center;

    inline-size: 16rem;
    block-size: 16rem;

    border: 0.16rem solid black;
    border-radius: 1.5rem;

    animation: spin 16s linear infinite;

    img {
      inline-size: 8rem;
      block-size: 8rem;

      animation: reversed-spin 16s linear infinite;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reversed-spin {
  100% {
    transform: rotate(-360deg);
  }
}
