body {
  main {
    #hero-title {
      font-size: larger;
    }
  }

  section {
    #playground-title {
      font-size: large;
    }

    picture {
      img {
        width: 70%;
      }
    }
  }
}
