body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  place-content: center;

  main {
    min-inline-size: 50%;

    min-block-size: 80vh;
    min-block-size: 80dvh;

    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: 10rem 16rem;
    place-content: center;

    .frame {
      position: relative;

      img {
        inline-size: 100%;
        block-size: 100%;

        object-fit: cover;

        opacity: 0.5;

        transition: opacity 1s;

        &:hover {
          opacity: 1;

          + .title {
            visibility: visible;
          }
        }
      }

      .title {
        color: white;
        background-color: black;

        padding: 0.25rem 0.5rem;

        font-weight: bold;

        visibility: hidden;

        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 50%;

        transform: translate(-50%, -50%);

        border-radius: 0.25rem;

        transition: visibility 1s;
      }
    }
  }
}
