body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: var(--primary) linear-gradient(#fff, var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

.container {
  width: 50%;
  height: 60%;
  margin: 1rem auto;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
